*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --black: hsl(0, 0%, 0%);
  --blue: hsl(202, 100%, 37%);
  --green: hsl(116, 46%, 50%);
  --greenDark: hsl(116, 46%, 40%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  background-color: var(--blue);
}

body, div, dl, dt, dd,
ul, ol, li, th, td,
h1, h2, h3, h4, h5, h6,
form, fieldset, label,
p, pre, blockquote {
  padding: 0;
  border: none;
  margin: 0;
  font-weight: normal;
  outline: none;
}

.plaid-link {
  background-color: var(--green);
}

.plaid-link:hover {
  background-color: var(--greenDark);
}
